:root {
	--size: 50px;
}
#container {
	width: 500px;
	height: 500px;
	border: 1px solid black;
}
.grid {
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
	background-color: aqua;
}
.grid:hover {
	cursor: pointer;
}