:root {
	--size: 50px;
	/*this var is for updating grid rows and cols size using js*/
	--grid-cols: 1;
	--grid-rows: 1;
}

#container {
	display: grid;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);

	width: 500px;
	height: 500px;
	border: 2px solid black;
}

.gridCell {
	border: 1px solid black;
	box-sizing: border-box;
	background-color: #ffffff;
}